<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @car.name %>
</p>

<p>
  <strong>Vin:</strong>
  <%= @car.VIN %>
</p>

<p>
  <strong>Make:</strong>
  <%= @car.make.name %>
</p>

<p>
  <strong>Parts:</strong>
</p>

<!loop to have parts load>
  <ul>
    <% @car.parts.each do |part| %>
      <li><%= part.name %></li>
    <% end %>
  </ul>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
